altair==5.0.1
jupyterlab==3.6.3
ipywidgets==8.0.6
jupyterlab-dash==0.1.0a3
statsmodels==0.13.5
pytest==7.3.1
nbdime==4.0.2

numpy==2.4.2
pandas==3.0.1
scikit-learn==1.8.0
xgboost==3.2.0
shap==0.51.0
matplotlib==3.10.8
seaborn==0.13.2
scipy==1.17.0
joblib==1.5.3
ipykernel
notebook
 